REACT_APP_CLERK_PUBLISHABLE_KEY=pk_test_Z2VudGxlLWtpdHRlbi03MC5jbGVyay5hY2NvdW50cy5kZXYk

# Local dev — proxy to Express backend on port 3000
REACT_APP_API_URL=http://localhost:3000

# Production
# REACT_APP_API_URL=https://fairflow-app-backend.onrender.com
