PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/fairflow_db"
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
NODE_ENV=development
